/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
	text-align: center;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Add this CSS to your existing styles.css file */
.video-container {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    text-align: center;
}

